release/win-unpacked/**/*.exe filter=lfs diff=lfs merge=lfs -text
release/win-unpacked/**/*.dll filter=lfs diff=lfs merge=lfs -text
release/win-unpacked/**/*.pak filter=lfs diff=lfs merge=lfs -text
release/win-unpacked/**/*.dat filter=lfs diff=lfs merge=lfs -text
release/win-unpacked/**/*.bin filter=lfs diff=lfs merge=lfs -text
release/win-unpacked/**/*.asar filter=lfs diff=lfs merge=lfs -text
